.header {
    grid-area:hd;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header a {
    color: black;
}

.header .hamicon {
    display: none;
}

.header__title {
    font-size: 2rem;
    font-weight: bold;
    color: black;
    text-decoration: underline;
}

.side-drawer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    max-width: 70%;
    padding: 32px 16px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #fff;
    z-index: 200;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-out;
}

.side-drawer > a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    color:#42a1f5;
    cursor: pointer;
    display: block;
}

.side-drawer > a:hover {
    color: black;
} 

.side-drawer > a:not(:last-child) {
    margin-bottom: 10px;
}

.open {
    transform: translateX(0);
}

.close {
    transform: translateX(-100%);
}

@media screen and (min-width: 500px) {
    .side-drawer {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .header__title {
        order: 0;
        font-size: 1.5rem;
        font-weight: 400;
        text-decoration: none;
    }
    .header a:not(.header__title) {
        display: none;
    }
    .header a.hamicon {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
    }
}

@media screen and (max-width: 600px) {
    .header {
        position: relative;
        flex-direction: column;
        align-items: flex-start;
    }
}

.heading {
    font-size:25px;
    font-weight:bold;
}
