<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container container__details">
        <header class="header">
            <a href="javascript:void(0);" class="link link--secondary">Subscribe</a>
            <a href="../index.html">Home</a>
            <a href="javascript:void(0);" class="header__title">My Blog</a>
            <h3><b>Smritikana Ghoshal</b></h3>
            <img src="../image/avatar.png" alt="Avatar" class="avatar">
            <a href="javascript:void(0);">
                <i class="fa fa-search"></i>
            </a>
            <a href="javascript:void(0);" class="hamicon"><i class="fa fa-bars"></i></a>
        </header>
        <div class="content__details">
           <section>
                <div class="heading">Sample blog Post</div>
                <span class="date">Janury 1, 2014 by </span><a class="link link--primary">Mark</a>
                <div class="text my-1">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent blandit nulla vel nisl facilisis porta. Vestibulum cursus metus sem, sed ultricies risus venenatis.
                </div>
                <div class="separator"></div>
                <div class="text my-1">
                    Lorem ipsum dolor sit amet, consectetur <a class="link link--primary">adipiscing elit risu</a>, praesent blandit nulla vel nisl facilisis porta. Vestibulum cursus metus sem, sed ultricies risus venenatis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent blandit nulla vel nisl facilisis porta. Vestibulum cursus metus sem, sed ultricies risus venenatis.
                </div>
                <div class="text my-1 box">
                    In blandit neque quam, mattis tristique risus malesuada et. Nam ac magna nulla. Fusce non enim nec nisl vehicula ullamcorper. Etiam non est eget elit fringilla auctor
                </div>
                <div class="text my-1">
                    In sed tortor sem. Aenean laoreet ornare urna ut mollis. Nullam porttitor nulla et luctus placerat. Suspendisse blandit egestas tellus, quis fringilla nisl iaculis vitae.
                </div>
            </section>
            <section>
                <h2>Heading</h2>
                <div class="text my-1">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent blandit nulla vel nisl facilisis porta. Vestibulum cursus metus sem, sed ultricies risus venenatis.
                </div>
            </section>
            <section>
                <h3><b>Sub-Heading</b><h3>
                <div class="text my-1">
                    Aliquam dictum arcu neque, vel semper justo fringilla nec. Aliquam dictum arcu neque, vel semper justo fringilla nec.
                </div>
                
                <div class="text my-1 box1">
                    Example code block
                </div>  
                <div class="text my-1">
                    nteger commodo gravida velit, a aliquam lacus volutpat iaculis. Vestibulum sit amet elementum tortor, nec pellentesque turpis. Sed sodales in quam sed sodales.
                </div>  
            </section>
            <section>
                <h3><b>Sub-Heading</b><h3>
                <div class="text my-1">
                    Ut diam mauris, facilisis sit amet sagittis id, efficitur ac arcu. Curabitur a odio eget dolor volutpat pharetra id non arcu. Maecenas sit amet gravida augue, sit amet tincidunt nulla. Donec hendrerit lobortis lacus, vitae lacinia tellus tempor vitae.Praesent felis augue, dapibus sit amet placerat tincidunt, facilisis quis nibh. Aliquam vulputate ipsum ex, porttitor mollis erat aliquet non. Nam vel laoreet elit. 
                    <ul>
                        <li>Maecenas non turpis non enim dapibus aliquet.</li>
                        <li>Ut tincidunt quam nec pretium fermentum</li>
                        <li>Maecenas non turpis non enim dapibus aliquet</li>
                      </ul>  
                <div class="text my-1">
                    Praesent scelerisque suscipit nibh, vitae egestas tellus semper non.
                      <ol>
                       <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                       <li>Nullam laoreet tempor ipsum et laoreet. Aenean elit nibh, ultricies vel leo vel, tincidunt efficitur diam.</li>
                      <li>Maecenas non turpis non enim dapibus aliquet.</li>
                </div>
                <div class="text my-1">
                    Maecenas a pulvinar ligula, Nullam laoreet tempor ipsum et laoreet. Aenean elit nibh
                </div>
                <button class="btn btn--outlined-info">Older Post</button>
                <button class="btn btn--outlined-default">Newer Post</button>    
            </section>
        </div> 
        <div class="sidebar">
            <div class="sidebar_card">
                <div class="sidebar__header">About</div>
                <div class="text">
                   <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed laoreet tellus. Proin mattis magna iaculis felis auctor gravida.</q>
                </div>
            </div> 
            <div class="sidebar_design">
                <div class="sidebar__header">Archives</div>
                <a class="link link--primary">March 2014</a>
                <a class="link link--primary">February 2014</a>
                <a class="link link--primary">January 2014 </a>
                <a class="link link--primary">December 2013</a>
                <a class="link link--primary">November 2013</a>
                <a class="link link--primary">October 2013</a>
                <a class="link link--primary">September 2013</a>
                <a class="link link--primary">August 2013</a>
                <a class="link link--primary">July 2013</a>
                <a class="link link--primary">June 2013</a>
                <a class="link link--primary">May 2013</a>
                <a class="link link--primary">April 2013</a>
            </div>  
            <div class="sidebar_design">
                <div class="sidebar__header">Elsewhere</div>  
                <a class="link link--primary">Github</a>
                <a class="link link--primary">Twiter</a>
                <a class="link link--primary">Facebook</a>
            </div>
        </div>
        <div class="footer">
            <div class="footer_design">
                Blog template built for<a class="link link--primary">Bootstrap</a>
                <i class="fa fa-linkedin" style="font-size:16px"  aria-hidden="true"></i>
                <i class="fa fa-facebook" style="font-size:16px"   aria-hidden="true"></i>
                <i class="fa fa-twitter"  style="font-size:16px"   aria-hidden="true"></i>
            </div>
        </div>  
    </div>
   
</body>
</html>